* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(37, 68, 114, 0.52),
      rgba(4, 28, 83, 0.73)
    ),
    url(assets/pexels-maxyne-barcel-10402282_1.png);
  background-repeat: no-repeat;
  /* overflow: hidden; */
  background-size: 100vw 100vh;
  background-position: center;
}

.navbar > div > img {
  display: inline-block;
  position: relative;
  top: 2rem;
  left: 7rem;
  width: 8.5rem;
}
.list {
  margin-left: 2rem;
}

.list li {
  text-align: center;
  font-size: 1rem;
  list-style-type: none;
  display: inline-block;
  margin-left: 0.8rem;
  padding-left: 3rem;
  position: relative;
  left: 25rem;
  color: rgb(240, 199, 20);
}

.button-small {
  position: absolute;
  top: 2.5rem;
  left: 83%;
}

div > button {
  display: inline-block;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.8rem;
  background-color: rgb(250, 74, 74);
  color: #ffffff;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.hero-heading {
  position: absolute;
  top: 20%;
}

.hero > h1 {
  /* display: inline-block; */
  font-weight: 700;
  font-family: "Dela Gothic One";
  font-size: 4.75rem;
  text-align: center;
  /* margin: 0 10%; */
  padding: 0 20%;
  color: rgb(218, 181, 19);
}

.hero > button {
  position: absolute;
  top: 70%;
  left: 42%;
  padding: 1rem 2.5rem;
}

.bottom,
.bottom > div {
  display: inline-block;
  position: absolute;
  top: 77%;
  left: 82%;
}

.bottom > div > img {
  width: 7rem;
}
